<footer class="footer">
  <div class="container footer__content">
    <app-title></app-title>
    <div class="footer__list">
      <h3>Help</h3>
      <ul *ngFor="let item of helps">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div class="footer__list">
      <h3>Shop</h3>
      <ul *ngFor="let item of categories">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div class="footer__list">
      <h3>Company</h3>
      <ul *ngFor="let item of company_features">
        <li>{{ item }}</li>
      </ul>
    </div>
  </div>
  <span>
    2022 Stas & Yarik, Inc. All Rights Reserved. <a>Terms</a>,
    <a>Privacy and Cookies</a> & <a>Accessibility</a>
  </span>
</footer>
