@import "../../styles/variables.scss";

.header {
  width: 100%;
  height: 8vh;
  background-color: $brown;
  display: flex;
  justify-content: center;
  font-weight: $font-weight-light;

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;

    li {
      margin-right: 22px;
    }
  }

  &__search {
    span {
      margin-right: 7px;
    }

    input {
      position: absolute;
      border: none;
      border-bottom: 1px solid $white;
      outline: none;
      @include font($font-size-14, $font-weight-light, $font-colour-white);
      background-color: transparent;
    }
  }

  img,
  span,
  li {
    @include hover();
  }
}
