//<Imports>
@import "./_reset.scss";
@import "./_variables.scss";
//</Imports>

//<Fonts>
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"); //font-family: 'Josefin Sans', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap"); // font-family: 'Syne Mono', monospace;
//</Fonts>

//<Global styles>

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: $white;
}

a {
  text-decoration: none;
  color: $font-colour-white;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    opacity: 0.8;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

//</Global styles>

//<General classes>

.container {
  @media (min-width: $md1) {
    width: $maxWidthContainer;
  }
  @media (max-width: $md1) {
    width: 900px;
  }
  @media (max-width: $md2) {
    width: 700px;
  }
  @media (max-width: $md3) {
    width: 100%;
    padding: 0px 24px;
  }
  @media (max-width: $md4) {
    padding: 0px 6px;
  }
}

//</General classes>
